CompileFlags:
  Add: 
    - -std=c++20
    - -I./Include
    - -I./MicroServices/*/Sources
    - -I./MicroServices/*/Protos
  Remove: []
  
Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-*
      - performance-*
      - cppcoreguidelines-*
    Remove: 
      - modernize-use-trailing-return-type
      - cppcoreguidelines-avoid-magic-numbers

InlayHints:
  Enabled: True
  ParameterNames: True
  DeducedTypes: True
  TemplateParameterTypes: True

Completion:
  EnableSnippets: True
  EnableIndex: True

Hover:
  ShowAKA: True

References:
  ShowAKA: True

SymbolSearch:
  Limit: 100 